aws_region  = "us-east-1"
domain_name = "pokerplanning.net"

# Optional. Leave unset to use env credentials / default chain.
# aws_profile = "Damien-terraform"

lightsail_instance_name = "planning-poker"
