<!DOCTYPE html>
<html lang="en" class="dark">

<head>
	<title>Docs | DeploySolo</title>
	{{ template "head" . }}
	<style>
		.code-block {
			width: 100%;
			margin-top: 16px;
			margin-bottom: 16px;
		}
	</style>
</head>

<body hx-boost="true">
	{{ template "navbar". }}

	<div class="container">
		<!-- Mobile popover button -->
		<button class="btn d-lg-none mt-4 ms-0 p-0" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#mobileMenu" aria-controls="mobileMenu">
			<svg class="bi" fill="currentColor" width="48px" height="48px">
				<use href="/public/images/bootstrap-icons.svg#arrow-right-square-fill"></use>
			</svg>
		</button>
		<div class="row">
			<!-- Doc hierarchy (left column) -->
			<div class="col-2 d-none d-lg-block p-4 position-sticky overflow-auto"
				style="height: calc(100vh - 70px); top: 70px;">
				{{ template "docnav" dict "Mobile" "false" }}
			</div>
			<!-- Main content (center column) -->
			<div id="doccontent" class="col-12 col-lg-8 p-4 border-start border-end">
				{{ .Content }}
			</div>
		</div>
	</div>

	<!-- Off-canvas mobile menu -->
	<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="mobileMenuLabel">Documentation</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			{{ template "docnav" dict "Mobile" "true" }}
		</div>
	</div>

	{{ template "searchmodal" . }}
	{{ template "footer" . }}
	{{ template "footscripts" . }}

</body>

<script>
	function initThemes() {
		document.querySelectorAll('pre code').forEach((block) => {
			hljs.highlightElement(block);
		});
	}
	document.addEventListener("DOMContentLoaded", () => {
		initThemes();
	});
	document.addEventListener("htmx:afterSettle", () => {
		initThemes();
	});
</script>

</html>
