package templates

templ Controls() {
	<div class="controls">
		<button ws-send="{&quot;type&quot;:&quot;reveal&quot;}">Reveal Votes</button>
		<button ws-send="{&quot;type&quot;:&quot;reset&quot;}">Reset</button>
	</div>
}
