{{ define "dashnav" }}
<div class="d-flex flex-column flex-shrink-0 w-100">
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="/" {{ if eq .Mobile "true" }} data-bs-dismiss="offcanvas" {{ end }}
				class="btn btn-outline-secondary border-0 fw-semibold w-100 text-start d-flex align-items-center">
				<svg class="bi" fill="currentColor" width="1em" height="1em">
					<use href="/public/images/bootstrap-icons.svg#house-fill"></use>
				</svg>
				<div class="ms-2">Home</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/app/profile" {{ if eq .Mobile "true" }} data-bs-dismiss="offcanvas" {{ end }}
				class="btn {{ if eq .Context.Selected "profile" }} btn-primary {{ else }} btn-outline-secondary
				border-0 {{ end }} fw-semibold mt-1 w-100 text-start d-flex align-items-center">
				<svg class="bi" fill="currentColor" width="1em" height="1em">
					<use href="/public/images/bootstrap-icons.svg#person-fill"></use>
				</svg>
				<div class="ms-2">Profile</div>
			</a>
		</li>
		<hr>
		<li class="nav-item">
			<a href="/app/invite" {{ if eq .Mobile "true" }} data-bs-dismiss="offcanvas" {{ end }}
				class="btn {{ if eq .Context.Selected "invite" }} btn-primary {{ else }} btn-outline-secondary border-0
				{{ end }} fw-semibold mt-1 w-100 text-start d-flex align-items-center">
				<svg class="bi" fill="currentColor" width="1em" height="1em">
					<use href="/public/images/bootstrap-icons.svg#box2-heart-fill"></use>
				</svg>
				<div class="ms-2">Access</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/app/chat" {{ if eq .Mobile "true" }} data-bs-dismiss="offcanvas" {{ end }}
				class="btn {{ if eq .Context.Selected "chat" }} btn-primary {{ else }} btn-outline-secondary border-0
				{{ end }} fw-semibold mt-1 w-100 text-start d-flex align-items-center">
				<svg class="bi" fill="currentColor" width="1em" height="1em">
					<use href="/public/images/bootstrap-icons.svg#chat-fill"></use>
				</svg>
				<div class="ms-2">AI Chat</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="/app/tasks" {{ if eq .Mobile "true" }} data-bs-dismiss="offcanvas" {{ end }}
				class="btn {{ if eq .Context.Selected "tasks" }} btn-primary {{ else }} btn-outline-secondary border-0
				{{ end }} fw-semibold mt-1 w-100 text-start d-flex align-items-center">
				<svg class="bi" fill="currentColor" width="1em" height="1em">
					<use href="/public/images/bootstrap-icons.svg#list-task"></use>
				</svg>
				<div class="ms-2">Tasks</div>
			</a>
		</li>
		<hr>
		<li class="nav-item">
			<button id="logoutButton"
				class="btn btn-outline-danger fw-semibold w-100 text-start d-flex align-items-center">
				<svg class="bi" fill="currentColor" width="1em" height="1em">
					<use href="/public/images/bootstrap-icons.svg#box-arrow-left"></use>
				</svg>
				<div class="ms-2">Logout</div>
			</button>
		</li>
	</ul>
</div>

<script>
document.getElementById('logoutButton').addEventListener('click', async () => {
	logout()
		.then(() => {
			window.location = '/';
		});
});
</script>

{{ end }}


{{ define "dash" }}
<div class="col-lg-2 bg-body-secondary d-none d-lg-block border-end min-vh-100">
	<div class="position-sticky pt-3 h-100 overflow-auto">
		{{ template "dashnav" dict "Context" . "Mobile" "false" }}
	</div>
</div>

<div class="d-lg-none w-100">
	<button class="btn d-lg-none p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
		aria-controls="mobileMenu">
		<svg class="bi" fill="currentColor" width="48px" height="48px">
			<use href="/public/images/bootstrap-icons.svg#arrow-right-square-fill"></use>
		</svg>
	</button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
	<div class="offcanvas-body">
		{{ template "dashnav" dict "Context" . "Mobile" "true" }}
	</div>
</div>
{{ end }}
