{{ define "head" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/public/favicon.png" />

<!-- Scripts -->
<script src="/public/js/highlight.min.js"> </script>
<link rel="stylesheet" id="light-code-theme" href="/public/css/onelight.min.css" disabled>
<link rel="stylesheet" id="dark-code-theme" href="/public/css/onedark.min.css" disabled>
<script src="/public/js/darkmode.js"> </script>
<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/htmx.min.js"></script>
<script src="/public/js/response-targets.js"></script>
<script src="/public/js/pocketbase.umd.js"></script>
<script src="/public/js/anime.min.js"></script>
<script src="/public/js/auth.js"></script>

<!-- <script src="https://js.stripe.com/v3/"></script> -->

<!-- Styles -->
<link rel="stylesheet" href="/public/css/shade-bs.css">
<link rel="stylesheet" href="/public/css/styles.css">
{{ end }}
