<!DOCTYPE html>
<html lang="en" class="dark">

<head>
	<title>Profile | DeploySolo</title>
	{{ template "head" . }}
</head>

<body hx-boost="true">
	<div id="content">
		<div class="container-fluid">
			<div class="row">

				{{ template "dash" dict "Selected" "profile" }}

				<div class="col p-4">
					<h1>Profile</h1>
					<label for="email"> Email </label>
					<input id="email" class="form-control my-2" placeholder="{{ .Auth.Email }}" disabled />
					<label for="paid" class="mt-2"> Paid </label>
					<input id="paid" class="form-control my-2" placeholder="{{ .Auth.Get "paid" }}" disabled />
					<label for="paid" class="mt-2"> Invited to GitHub </label>
					<input id="paid" class="form-control my-2" placeholder="{{ .Auth.Get "invited" }}" disabled />
					<!--
					<label for="paid" class="mt-2"> Verified </label>
					<input id="paid" class="form-control my-2" placeholder="{{ .Auth.Verified }}" disabled />
					<button hx-indicator="#spinner" class="btn btn-primary my-2">Verify
						Email</button> <br>
					<div id="spinner" class="htmx-indicator p-4">
						<div class="spinner-border text-secondary" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>
					-->
				</div>

			</div>
		</div>
	</div>

	{{ template "cornercolorswitcher" . }}

</body>

</html>
